/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&family=Outfit:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: 'SN Pro', sans-serif;
  --font-body: 'Lato', sans-serif;

  /* Primary Green Shades */
  --color-primary-20: #F6FFF8;
  --color-primary-50: #E6F7EB;
  --color-primary-100: #C2ECD1;
  --color-primary-200: #9DE1B7;
  --color-primary-300: #78D79D;
  --color-primary-400: #53CC83;
  --color-primary-500: #178A2D; /* base */
  --color-primary-600: #147025;
  --color-primary-700: #11561D;
  --color-primary-800: #0E3C14;
  --color-primary-900: #0A260B;

  /* Secondary Yellow Shades */
  --color-secondary-50: #FFF9E6;
  --color-secondary-100: #FFF2C2;
  --color-secondary-200: #FFEB9D;
  --color-secondary-300: #FFE378;
  --color-secondary-400: #FFDC53;
  --color-secondary-500: #FCBA04; /* base */
  --color-secondary-600: #D69D03;
  --color-secondary-700: #A77B02;
  --color-secondary-800: #785801;
  --color-secondary-900: #4A3600;

  /* Accent */
  --color-accent: #F97316;

  /* Neutral Palette */
  --color-neutral-50: #F9FAFB;
  --color-neutral-100: #F3F4F6;
  --color-neutral-200: #E5E7EB;
  --color-neutral-300: #D1D5DB;
  --color-neutral-400: #9CA3AF;
  --color-neutral-500: #6B7280;
  --color-neutral-600: #4B5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1F2937;
  --color-neutral-900: #111827;

  /* Background */
  --color-background: #E6F3E8;
  --color-dark: #0D1411;
}

body {
@apply bg-neutral-50 text-neutral-800 font-heading tracking-wide font-normal;
}