@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: 'SN Pro', sans-serif;
  --font-body: 'Lato', sans-serif;

  /* Primary Orange Shades */
  --color-primary-50: #FFF8E6;
  --color-primary-100: #FFF1CD;
  --color-primary-200: #FFEBB4;
  --color-primary-300: #FFE49B;
  --color-primary-400: #FFC938;
  --color-primary-500: #FFBB06;
  --color-primary-600: #CC9605;
  --color-primary-700: #997004;
  --color-primary-800: #664B02;
  --color-primary-900: #332501;

  /* Secondary Green Shades */
  --color-primary-20: #F6FFF8;
  --color-secondary-50: #E6F7EB;
  --color-secondary-100: #C2ECD1;
  --color-secondary-200: #9DE1B7;
  --color-secondary-300: #78D79D;
  --color-secondary-400: #53CC83;
  --color-secondary-500: #178A2D;
  --color-secondary-600: #147025;
  --color-secondary-700: #11561D;
  --color-secondary-800: #0E3C14;
  --color-secondary-900: #0A260B;

  /* Accent */
  --color-accent: #F97316;

  /* Neutral Palette */
  --color-neutral-50: #f8f8f8;
  --color-neutral-100: #F3F4F6;
  --color-neutral-200: #E5E7EB;
  --color-neutral-300: #D1D5DB;
  --color-neutral-400: #9CA3AF;
  --color-neutral-500: #6B7280;
  --color-neutral-600: #4B5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1F2937;
  --color-neutral-900: #111827;

  /* Background */
  --color-background: #E6F3E8;
  --color-dark: #1A1301;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

th, td{
@apply p-3
}

body {
@apply bg-neutral-100 text-primary-900 tracking-wide font-normal;
}